src/Adapter/
src/Agent/
src/Copy/
CMSDCommandCell/
*.obj
*.ilk
*.tlb
*.tli
*.tlh
*.tmp
*.rsp
*.pch
*.ncb
*.user
*.manifest
*.pdb
*.idb
*.suo
*.dll
*.idb
*.log
*.exg
*.dlx
*.tlog
Copy*.*
*.exe
*.opensdf
*.sdf
~*.*
*.ipch
